spacy==3.7.4
yake==0.4.8
git+https://github.com/boudinfl/pke.git
multi-rake==0.0.2
sacremoses
sentencepiece
transformers
googletrans==4.0.0-rc1
#torch==2.1.2 torchvision==0.16.2 torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cpu
httpx==0.13.3
libsqlite3-dev
